<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- bean：使容器创建Persion的对象 -->
	<!-- name: 相当于变量名 Persion p = new Persion(); -->
	<!-- class：类的全限定名 -->
	<!-- name: 可以重复，可以有特殊字符，id：不可以重复，不可以有特殊字符 -->
	<bean name="p1" id="p2" class="com.hello.spring.pojo.Persion"></bean>

</beans>